.title-page-layout {
    padding: 10px 15px 10px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

    .title-page-layout strong {
        margin-top: 7px;
        font-size: 22px;
        text-align: center;
    }

    .title-page-layout i {
        font-size: 35px;
        cursor: pointer;
    }
