@media (max-width: 600px) {
    /*ghi đè class css*/
    .xdsoft_datetimepicker {
        left: 38% !important;
        top: 50px !important;
    }
}

@media (min-width: 768px) {
    .floating-button {
        right: calc(100%/2 - 300px + 20px) !important;
    }
    /*ghi đè class css*/
    .xdsoft_datetimepicker {
        left: calc(100%/2 + 45px) !important;
        top: 50px !important;
    }
}

.title-page {
    padding: 3px 10px 3px 5px;
    display: flex;
    justify-content: space-between;
}

.title-page-text {
    margin-top: 12px;
    cursor: pointer;
}

.container-listMessages {
    padding: 45px 0px 0px 0px;
}

.somebutton {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: auto;
}

    .somebutton i {
        font-size: 25px;
    }

    .somebutton span {
        font-size: 16px;
    }

.box-message-content {
    padding: 10px;
    margin-top: 10px;
}

.mainContent-message {
    margin-top: 5px;
    border-radius: 0 0 0 15px;
    background-color: #dee8fc;
    padding: 8px;
    top: 5px;
    font-family: sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

.div-list-message {
    padding: 5px 5px 5px 45px;
    gap: 10px;
    margin-bottom: -10px;
    position: relative;
}

.box-icon-msg {
    font-size: 40px;
    justify-content: center;
    color: rgba(0,0,0,.14);
    position: absolute;
    left:0;
    top:0;
}

    .box-icon-msg strong {
        color: #e3165b;
        left: 11px;
        top: 10px;
        position: absolute;
        font-size: 18px;
    }

.info-detail {
    margin-top: 3px;
    flex: 1;
    display: flex;
    flex-flow: column;
}

.box-event-header {
    background-color: #dee8fc;
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    gap: 50px;
    width: 100%;
}

.button-icon-danger {
    font-size: 35px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    text-align: end;
}

.icon-danger-delete {
    color: #e3165b;
    font-size: 28px;
    cursor: pointer;
}

.icon-danger-copy {
    color: #e3165b;
    font-size: 24px;
    cursor: pointer;
}

.icon-danger-checkbox-all {
    color: #e3165b;
    font-size: 27px;
    cursor: pointer;
}

.input-check-box {
    color: blue;
    position: absolute;
    font-size: 20px;
    top: 2px;
    right: 80px;
    cursor: pointer;
    border-color: none;
}

.icon-danger-info {
    color: #4286f4;
    position: absolute;
    font-size: 25px;
    margin-top: -1px;
    top: 6px;
    right: 10px;
    cursor: pointer;
}


