<!-- _PartialView.cshtml -->
@using Lottery.DoMain.Models;
@using System;
@using Lottery.DoMain.Enum;
@model Dictionary<DateTime, List<CountByDay>>
<style>

</style>
<div class="div-summary-results">
   
</div>