<!-- _PartialView.cshtml -->
@using Lottery.DoMain.Models;
@using System;
@model Cal3DetailDto
<div id="div_success_message" class="div-success-message">
    <span style="color:#e3165b">
        Ngày: @DateTime.Now.ToString("dd/MM/yyyyy")
    </span>
    <div class="parameter-success-messages">
        <span>
            
        </span>
    </div>
</div>