<!-- _PartialView.cshtml -->
@using Lottery.DoMain.Models;
@using System;
@model Cal3DetailDto
<div id="div_success_message" class="div-success-message">
    <div class="parameter-success-messages">
        <span>
            sdasdsds
        </span>
    </div>
</div>