@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@{
    Layout = null;
    var userData = new User(); 
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/addUser.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/constant.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @*master-plan*@
    <script src="~/assets/helpers/master-plan/adr_common.js"></script>
    <script src="~/assets/helpers/master-plan/iosOverlay.js"></script>
    <link href="~/assets//helpers/master-plan/style.css" rel="stylesheet" />
    @*cssscript*@
    <script src="~/assets/helpers/awesome-alert-main/awesomealert.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/awesome-alert-main/style.css" />
    <link rel="stylesheet" href="~/assets/helpers/toastinette-notification-main/assets/css/toastinette.min.css">
    <script src="~/assets/helpers/toastinette-notification-main/assets/js/toastinette.js"></script>
    @*Syncfusion*@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-buttons/styles/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">*@
    @*datetimepicker*@
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.css" />
    <script src="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.full.min.js"></script>
    <style>

        input {
            padding: 0px 0px 0px 5px;
        }

        .title-page {
            padding: 3px 10px 3px 5px;
            display: inline-block;
        }

        .title-page-text {
            margin-top: 12px;
            cursor: pointer;
        }

        .container-addUser {
            display: flex;
            flex-flow: column;
            height: 85vh;
            padding:10px;
            padding-top:55px;
        }

        .div-form-account {
            justify-content: center;
            font-family: Roboto, Arial, sans-serif;
            font-size: 15px;
            background-color: white;
            border: 5px solid #f1f1f1;
        }

        .icon-account {
            font-size: 110px;
            display: flex;
            justify-content: center;
            color: #4286f4;
            margin-bottom: 20px;
            margin-top:20px;
        }

        .wrapper {
            width: 100%;
            background: #fff;
            border-radius: 5px;
        }

            .wrapper .title {
                height: 55px;
                background: #e3165b;
                /*background: #16a085;*/
                border-radius: 5px 5px 0 0;
                color: #fff;
                font-size: 30px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .wrapper .title span {
                    font-size: 18px;
                }

            .wrapper form {
                margin-top: 10px;
                padding: 0px 10px 0px;
            }

                .wrapper form .row {
                    font-size: 16px;
                    height: 52px;
                    margin-bottom: 15px;
                    position: relative;
                }

                    .wrapper form .row input {
                        font-size: 15px;
                        height: 100%;
                        width: 100%;
                        outline: none;
                        border-radius: 5px;
                        border: 1px solid lightgrey;
                        transition: all 0.3s ease;
                    }

        form .row input:focus {
            border-color: #e3165b;
            /*box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);*/
        }

        form .row input::placeholder {
            color: #999;
        }

        .wrapper form .row i {
            position: absolute;
            width: 47px;
            height: 100%;
            color: #fff;
            background: #e3165b;
            border: 1px solid #e3165b;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wrapper form .pass {
            margin: -8px 0 20px 0;
        }

            .wrapper form .pass a {
                color: #e3165b;
                text-decoration: none;
            }

                .wrapper form .pass a:hover {
                    text-decoration: underline;
                }

        .wrapper form .button input {
            margin-top: 10px;
            color: #fff;
            font-weight: 500;
            padding-left: 0px;
            background: #e3165b;
            border: 1px solid #e3165b;
            cursor: pointer;
        }

        form .button input:hover {
            /*background: #12876f;*/
        }

        .wrapper form .signup-link {
            text-align: center;
            margin-top: 20px;
        }

            .wrapper form .signup-link a {
                color: #e3165b;
                text-decoration: none;
            }

        form .signup-link a:hover {
            text-decoration: underline;
        }

        .div-row-input-val {
            display: flex;
            gap: 20px;
        }

        .div-row-radio-cach-trung {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 5px;
        }

        .div-row-input-val-radio {
            margin-bottom: 15px;
        }

        .div-row-span-title {
            font-weight: 600;
            font-size: 16px;
            margin-left: -5px;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .row-input-val {
            flex: 1;
            display: flex;
            flex-flow: column;
        }

    </style>
</head>
<body>
    <header class="header-page">
        <div class="title-page">
            <div onclick="window.location.href='/Administrator/UserListing';" class="title-page-text">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Quản lý - Tài khoản
            </div>
        </div>
    </header>
    <div class="container-addUser">

        <div class="wrapper div-form-account">
            <div class="icon-account">
                <i class="fa fa-user-circle"></i>
            </div>
            <form>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Tên:
                        </span>
                        <input tabindex="1" id="cr_nPhanTramTong" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Tài khoản:
                        </span>
                        <input tabindex="1" id="cr_nPhanTramTong" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hạn xử dụng:
                        </span>
                        <input tabindex="1" id="cr_nPhanTramTong" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Số điện thoại:
                        </span>
                        <input tabindex="1" id="cr_nPhanTramTong" value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Mật khẩu:
                        </span>
                        <input tabindex="1" id="cr_nPhanTramTong" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Nhập lại mật khẩu:
                        </span>
                        <input tabindex="1" id="cr_nPhanTramTong" required value="">
                    </div>
                </div>
                 <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Ghi chú:
                        </span>
                        <input tabindex="1" id="cr_nPhanTramTong" value="">
                    </div>
                </div>
            </form>
           
        </div>

    </div>
    <script>

    </script>
</body>
</html>



