@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/addUser.css?v=@Default.VersionApp" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/constant.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/site.css?v=@Default.VersionApp" rel="stylesheet" />
    @*master-plan*@
    <script src="~/assets/helpers/master-plan/adr_common.js"></script>
    <script src="~/assets/helpers/master-plan/iosOverlay.js"></script>
    <link href="~/assets//helpers/master-plan/style.css" rel="stylesheet" />
    @*cssscript*@
    <script src="~/assets/helpers/awesome-alert-main/awesomealert.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/awesome-alert-main/style.css" />
    <link rel="stylesheet" href="~/assets/helpers/toastinette-notification-main/assets/css/toastinette.min.css">
    <script src="~/assets/helpers/toastinette-notification-main/assets/js/toastinette.js"></script>
    @*Syncfusion*@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-buttons/styles/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">*@
    @*datetimepicker*@
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.css" />
    <script src="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.full.min.js"></script>
    <style>

        input {
            padding: 0px 0px 0px 5px;
        }

        .xdsoft_datetimepicker {
            left: 50% !important;
            top: 250px !important;
            margin-left: -120px !important;
        }

    </style>
</head>
<body>
    <header class="header-page">
        <div class="title-page">
            <div onclick="window.location.href='/Administrator/UserListing';" class="title-page-text">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Quản lý - Tài khoản
            </div>
        </div>
    </header>
    <div class="container-addUser">
        <div class="wrapper div-form-account">
            <div class="icon-account">
                <i class="fa fa-user-circle"></i>
            </div>
            <form id="executeAddUserForm">
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Tên:
                        </span>
                        <input tabindex="1" id="cr_name" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Tài khoản:
                        </span>
                        <input tabindex="1" id="cr_account" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hạn xử dụng:
                        </span>
                        <input style="cursor:pointer;" tabindex="1" readonly id="cr_expireDate" required value="@DateTime.Now.ToString("dd/MM/yyyy")">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Số điện thoại:
                        </span>
                        <input tabindex="1" id="cr_phoneNumber" value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Mật khẩu:
                        </span>
                        <input tabindex="1" type="password" id="cr_password" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Nhập lại mật khẩu:
                        </span>
                        <input tabindex="1" type="password" id="cr_rePassword" required value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Ghi chú:
                        </span>
                        <input tabindex="1" id="cr_note" value="">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <input type="submit" tabindex="1" value="Đăng ký">
                    </div>
                </div>
            </form>
           
        </div>
        <input id="datetimepicker" style="display:none;" type="text">
        <div id="datepicker_open"></div>
    </div>
    <script>
        jQuery.datetimepicker.setLocale('vi');
        jQuery('#datetimepicker').datetimepicker({
            timepicker: false,
            value: '@DateTime.Now.ToString("yyyy/MM/dd HH:mm")',
            onShow: function (ct, input) {
                document.getElementById("datepicker_open").classList.add("datepicker-open");
            },
            onClose: function (current_time, input) {
                document.getElementById("datepicker_open").classList.remove("datepicker-open");
            }
        });
        $('#cr_expireDate').on('click', function () {
            $('#datetimepicker').datetimepicker('show');
        });
         $('#datetimepicker').on('change', function () {
            var dateString = $(this).val();
            let dateParts = dateString.split(' ')[0].split('/');
            let formattedDate = dateParts[2] + '/' + dateParts[1] + '/' + dateParts[0];
            document.getElementById("cr_expireDate").value = formattedDate;
        });

        // Bắt sự kiện submit của biểu mẫu create
        document.getElementById("executeAddUserForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn chặn biểu mẫu gửi đi mặc định

            if (document.getElementById("cr_password").value === document.getElementById("cr_rePassword").value) {

            } else {
                alert('Mật khẩu không khớp. Vui lòng nhập lại.');
                return;
            }

            var userManagementModel = {
                name: document.getElementById("cr_name").value,
                account: document.getElementById("cr_account").value,
                strExpireDate: document.getElementById("datetimepicker").value,
                phoneNumber: document.getElementById("cr_phoneNumber").value,
                password: document.getElementById("cr_password").value,
                note: document.getElementById("cr_note").value,
            }

            ShowOverlay(true);
            userManagementJson = JSON.stringify(userManagementModel);
            $.ajax({
                type: "POST",
                data:
                {
                    "userManagementJson": userManagementJson,
                },
                url: "@Url.Action("ExecuteAddUser", "Administrator")",
                success: function (data) {
                    if (data.success && data.data) {
                        awesomeAlert({
                            header: true,
                            type: 'success',
                            title: 'Thành công!',
                            message: 'Thành công.',
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/success.svg',
                            buttonOK: 'Xong!',
                            closeStyle: 'circle'
                        }).then(res => window.location = "/Administrator/UserListing")
                    }
                    else {
                        if (data.redirectTo) {
                            // Chuyển hướng trình duyệt đến đường dẫn được chỉ định
                            window.location.href = data.redirectTo;
                        } else {
                            var message = "Đã có lỗi xảy ra."
                            if (!isNullOrEmpty(data.message)) {
                                message = data.message;
                            }
                            awesomeAlert({
                                header: true,
                                type: 'error',
                                title: 'Có lỗi!',
                                message: message,
                                //bgColor: '#2dd284',
                                img: '/assets/images/icon/error.svg',
                                buttonOK: 'Oke!',
                                closeStyle: 'circle'
                            }).then(res => false)
                        }
                    }
                },
                error: function (xhr, status, error) {
                    awesomeAlert({
                        header: true,
                        type: 'error',
                        title: 'Có lỗi!',
                        message: 'Lỗi hệ thống',
                        //bgColor: '#2dd284',
                        img: '/assets/images/icon/error.svg',
                        buttonOK: 'Oke!',
                        closeStyle: 'circle'
                    }).then(res => false)
                },
                complete: function () {
                    hideOverlay();
                }
            })
        });
    </script>
</body>
</html>



