@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/createPlayer.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/constant.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @*master-plan*@
    <script src="~/assets/helpers/master-plan/adr_common.js"></script>
    <script src="~/assets/helpers/master-plan/iosOverlay.js"></script>
    <link href="~/assets//helpers/master-plan/style.css" rel="stylesheet" />
    @*cssscript*@
    <script src="~/assets/helpers/awesome-alert-main/awesomealert.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/awesome-alert-main/style.css" />
    @*Syncfusion*@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-buttons/styles/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <style>

        input {
            padding: 0px 0px 0px 5px;
        }

        .header-page {
            background: #e3165b;
            position: fixed;
            width: 100%;
            max-width:600px;
            margin:0 auto;
            z-index: 1000;
        }

        .container-createPlayer {
            padding-top: 50px;
        }

    </style>
</head>
<body>
    <header class="header-page">
        <div class="title-page">
            <div onclick="window.location.href='/Phonebook/ListPlayer';" class="title-page-goback">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Danh bạ
            </div>
            <button type="submit" form="createPlayerForm" class="title-page-btn-save">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
    </header>
    <div class="container-createPlayer">
        <div class="wrapper">
            <form id="createPlayerForm" action="#">
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Tên:
                        </span>
                        <input type="text" tabindex="1" id="cr_name" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            SDT:
                        </span>
                        <input type="text" tabindex="1" id="cr_phoneNumber">
                    </div>
                </div>
                <div class="div-row-input-val div-row-input-val-radio">
                    <input type="radio" id="cr_isKhach">
                    <input type="radio" id="cr_isChu">
                </div>
                @*Miền Nam*@
                <div class="div-row-input-val div-row-span-title">
                    <span>**Miền Nam**</span>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò hai con bao:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nCoBaoHaiCon" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con bao:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nTrungBaoHaiCon" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hai con đầu đui:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nCoHaiConDD" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con đầu đui:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nTrungHaiConDD" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá thẳng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nCoDaThang" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng đá thẳng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nTrungDaThang" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá thẳng:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_nCachTrungDaThang_motLan">
                            <input type="radio" id="cr_nCachTrungDaThang_kyRuoi">
                            <input type="radio" id="cr_nCachTrungDaThang_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá xiên:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nCoDaXien" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trung xiên:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nTrungDaXien" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá xiên:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_nCachTrungDaXien_motLan">
                            <input type="radio" id="cr_nCachTrungDaXien_kyRuoi">
                            <input type="radio" id="cr_nCachTrungDaXien_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò ba con:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nCoBaCon" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng ba con:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nTrungBaCon" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò bốn con:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nCoBonCon" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng bốn con:
                        </span>
                        <input type="number" tabindex="1" id="cr_nTrungBonCon" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Phần trăm tổng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_nPhanTramTong" required>
                    </div>
                </div>
                @*Miền Trung*@
                <div class="div-row-input-val div-row-span-title">
                    <span>**Miền Trung**</span>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò hai con bao:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tCoBaoHaiCon" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con bao:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tTrungBaoHaiCon" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hai con đầu đui:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tCoHaiConDD" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con đầu đui:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tTrungHaiConDD" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá thẳng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tCoDaThang" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng đá thẳng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tTrungDaThang" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá thẳng:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_tCachTrungDaThang_motLan">
                            <input type="radio" id="cr_tCachTrungDaThang_kyRuoi">
                            <input type="radio" id="cr_tCachTrungDaThang_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá xiên:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tCoDaXien" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trung xiên:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tTrungDaXien" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá xiên:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_tCachTrungDaXien_motLan">
                            <input type="radio" id="cr_tCachTrungDaXien_kyRuoi">
                            <input type="radio" id="cr_tCachTrungDaXien_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò ba con:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tCoBaCon" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng ba con:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tTrungBaCon" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò bốn con:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tCoBonCon" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng bốn con:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tTrungBonCon" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Phần trăm tổng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_tPhanTramTong" required>
                    </div>
                </div>
                @*Miền Bắc*@
                <div class="div-row-input-val div-row-span-title">
                    <span>**Miền Bắc**</span>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò hai con bao:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_bCoBaoHaiCon" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con bao:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_bTrungBaoHaiCon" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hai con đầu đui:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_bCoHaiConDD" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con đầu đui:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_bTrungHaiConDD" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá thẳng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_bCoDaThang" required>
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng đá thẳng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_bTrungDaThang" required>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá thẳng:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_bCachTrungDaThang_motLan">
                            <input type="radio" id="cr_bCachTrungDaThang_kyRuoi">
                            <input type="radio" id="cr_bCachTrungDaThang_nhieuCap">
                        </div>
                    </div>
                </div>
                <div style="margin-top:-3px;margin-bottom:7px;">
                    <input id="cr_bcheckbox_show_daxien" type="checkbox" />
                </div>
                <div id="cr_show_bDaxien" style="display:none;">
                    <div class="div-row-input-val">
                        <div class="row row-input-val">
                            <span>
                                Cò đá xiên hai:
                            </span>
                            <input type="number" step="0.1" tabindex="1" id="cr_bCoXienHai">
                        </div>
                        <div class="row row-input-val">
                            <span>
                                Trúng đá xiên hai:
                            </span>
                            <input type="number" step="0.1" tabindex="1" id="cr_bTrungXienHai">
                        </div>
                    </div>
                    <div class="div-row-input-val">
                        <div class="row row-input-val">
                            <span>
                                Cò đá xiên ba:
                            </span>
                            <input type="number" step="0.1" tabindex="1" id="cr_bCoXienBa">
                        </div>
                        <div class="row row-input-val">
                            <span>
                                Trúng đá xiên ba:
                            </span>
                            <input type="number" step="0.1" tabindex="1" id="cr_bTrungXienBa">
                        </div>
                    </div>
                    <div class="div-row-input-val">
                        <div class="row row-input-val">
                            <span>
                                Cò đá xiên bốn:
                            </span>
                            <input type="number" step="0.1" tabindex="1" id="cr_bCoXienBon">
                        </div>
                        <div class="row row-input-val">
                            <span>
                                Trúng đá xiên bốn:
                            </span>
                            <input type="number" step="0.1" tabindex="1" id="cr_bTrungXienBon">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Phần trăm tổng:
                        </span>
                        <input type="number" step="0.1" tabindex="1" id="cr_bPhanTramTong">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            ej.base.enableRipple(true);
            // Initialize RadioButton component.
            var radiobutton = new ej.buttons.RadioButton({ label: 'Khách', name: 'khachorchu', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_isKhach');
            radiobutton = new ej.buttons.RadioButton({ label: 'Chủ', name: 'khachorchu', enableRtl: 'true' });
            radiobutton.appendTo('#cr_isChu');
            // Miền Nam
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_nCachTrungDaThang', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaThang_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_nCachTrungDaThang', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaThang_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_nCachTrungDaThang', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_nCachTrungDaThang_nhieuCap');
            //
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_nCachTrungDaXien', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaXien_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_nCachTrungDaXien', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaXien_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_nCachTrungDaXien', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_nCachTrungDaXien_nhieuCap');

            // Miền Trung
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_tCachTrungDaThang', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaThang_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_tCachTrungDaThang', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaThang_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_tCachTrungDaThang', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_tCachTrungDaThang_nhieuCap');
            //
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_tCachTrungDaXien', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaXien_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_tCachTrungDaXien', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaXien_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_tCachTrungDaXien', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_tCachTrungDaXien_nhieuCap');

            // Miền Bắc
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_bCachTrungDaThang', enableRtl: 'true' });
            radiobutton.appendTo('#cr_bCachTrungDaThang_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_bCachTrungDaThang', enableRtl: 'true' });
            radiobutton.appendTo('#cr_bCachTrungDaThang_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_bCachTrungDaThang', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_bCachTrungDaThang_nhieuCap');
            // Render initialized CheckBox.
            var checkbox = new ej.buttons.CheckBox({ label: 'Hiện đá xiên' });
            checkbox.appendTo('#cr_bcheckbox_show_daxien');
            checkbox.change = function (args) {
                var element = document.getElementById("cr_show_bDaxien");
                if (args.checked) {
                    element.style.display = "block";
                } else {
                    element.style.display = "none";
                }
            };
        });

        // Bắt sự kiện submit của biểu mẫu create
        document.getElementById("createPlayerForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn chặn biểu mẫu gửi đi mặc định
            alert("Đang phát triển");
            return;
            var playerModel = {
                name: document.getElementById("name").ej2_instances[0].value,
                tileXac: document.getElementById("tileXac").ej2_instances[0].value,
                tileThuong: document.getElementById("tileThuong").ej2_instances[0].value,
                tileBaSo: document.getElementById("tileBaSo").ej2_instances[0].value,
                daThang: document.getElementById("tileDaThang").ej2_instances[0].value,
                daXien: document.getElementById("tileDaXien").ej2_instances[0].value,
                bonSo: document.getElementById("tileBonso_create").ej2_instances[0].value,
            }
            var playerModels = [playerModel];
            playerModels.push();
            ShowOverlay(true);
            playerJsons = JSON.stringify(playerModels);
            $.ajax({
                type: "POST",
                data:
                {
                    "playerJsons": playerJsons,
                },
                url: "@Url.Action("ExecuteCreatePlayer", "Phonebook")",
                success: function (data) {
                    if (data.Success && data.Data) {
                        awesomeAlert({
                            header: true,
                            type: 'success',
                            title: 'Thành công!',
                            message: 'Tạo mới người chơi thành công.',
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/success.svg',
                            buttonOK: 'Xong!',
                            closeStyle: 'circle'
                        }).then(res => window.location = "/Phonebook/ListPlayer")
                    }
                    else {
                        var message = "Đã có lỗi xảy ra."
                        if (!isNullOrEmpty(data.Message)) {
                            message = data.Message;
                        }
                        awesomeAlert({
                            header: true,
                            type: 'error',
                            title: 'Có lỗi!',
                            message: message,
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/error.svg',
                            buttonOK: 'Oke!',
                            closeStyle: 'circle'
                        }).then(res => false)
                    }
                    hideOverlay();
                },
            })
        });

    </script>
</body>
</html>