@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@using Lottery.Service.ServiceProvider;
@using Lottery.Service.ServiceProvider.Interface;
@inject IHttpContextAccessor HttpContextAccessor
@{
    User user = new User();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cookieValue = HttpContextAccessor.HttpContext.Request.Cookies["LotteryCookie"];
    List<Phonebook> phonebooks = new List<Phonebook>();
    if (cookieValue != null)
    {
        user = JsonConvert.DeserializeObject<User>(cookieValue);
        IProvider provider = new Provider();
        var dataBase = provider.GetAsync<List<Phonebook>>(string.Format(ApiUri.Get_Phonebook + "/{0}", user.Id));
        if (dataBase != null && dataBase.Result != null && dataBase.Result.Data != null)
        {
            phonebooks = dataBase.Result.Data;
        }
    }
    else
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/Account/Login");
    }
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/listPlayer.css" rel="stylesheet" />
    <style>
        
    </style>
</head>
<body>
    <div class="container-listplayer">
        <div class="info-page">
            <strong>
                Danh Bạ
            </strong>
        </div>
        @{
            if (phonebooks == null || phonebooks.Count == 0)
            {
                <div class="box-no-data-found">
                    <img src="~/lottery/empty-order/empty-order.png">
                    <span>Không có danh bạ</span>
                </div>
            }
            else
            {
                foreach (var item in phonebooks)
                {
                    <div class="div-list-player">
                        <div class="avatar">
                            <i class="fa fa-user-circle"></i>
                        </div>
                        <div style="flex: 1;">
                            <div class="info-detail">
                                <strong style="font-size:18px;">@string.Format(item.Name)</strong>
                                <span style="margin-top:5px;">@string.Format(item.PhoneNumber + " " + (item.IsChu? "(chủ)" : "(khách)"))</span>
                            </div>
                            <i id="@item.Id" onclick="deletePlayer(this)" class="icon-danger-delete fa fa-trash" aria-hidden="true"></i>
                            <i onclick="window.location.href='/Phonebook/ExecutionPlayer?playerId=@item.Id&isCopy=true';" class="icon-danger-copy fa fa-clone" aria-hidden="true"></i>
                            <i onclick="window.location.href='/Phonebook/ExecutionPlayer?playerId=@item.Id';" class="icon-danger-info fa fa-pencil-square-o" aria-hidden="true"></i>
                            <div style="margin-bottom:20px;" class="border-bottom-row"></div>
                        </div>
                    </div>
                }
            }
        }  

    </div>
    <script>
        function deletePlayer(dom) {
            if (confirm("Bạn muốn xóa người chơi này?")) {
                executeConfirm(dom.id);
            }
        }

        function executeConfirm(playerId) {
            ShowOverlay(true);
            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "playerId": playerId,
                },
                url: "@Url.Action("ExecuteDeletePlayer", "Phonebook")",
                success: function (data) {
                    hideOverlay();
                    if (data.success && data.data) {
                        awesomeAlert({
                            header: true,
                            type: 'success',
                            title: 'Thành công!',
                            message: 'Xóa người chơi thành công.',
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/success.svg',
                            buttonOK: 'Xong!',
                            closeStyle: 'circle'
                        }).then(res => window.location = "/Phonebook/ListPlayer")
                    }
                    else {
                        var message = "Đã có lỗi xảy ra."
                        if (!isNullOrEmpty(data.Message)) {
                            message = data.message;
                        }
                        awesomeAlert({
                            header: true,
                            type: 'error',
                            title: 'Có lỗi!',
                            message: message,
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/error.svg',
                            buttonOK: 'Oke!',
                            closeStyle: 'circle'
                        }).then(res => false)
                    }
                },
            })
        }
    </script>
</body>
</html>