@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@inject IHttpContextAccessor HttpContextAccessor
@{
    User user = new User();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cookieValue = HttpContextAccessor.HttpContext.Request.Cookies["LotteryCookie"];
    if (cookieValue != null)
    {
        user = JsonConvert.DeserializeObject<User>(cookieValue);
    }
    else
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/Account/Login");
    }
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/listPlayer.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container-listplayer {
            
        }

        .info-page {
            justify-content: center;
            display: flex;
            font-size: 16px;
            color: #e3165b;
            margin-bottom:20px;
        }

        .div-list-player {
            display: flex;
            padding: 5px;
            gap: 10px;
            margin-bottom: -10px;
            margin-left: 20px;
        }

        .avatar {
            font-size: 35px;
            display: flex;
            justify-content: center;
            color: rgba(0,0,0,.14);
            margin-bottom: 20px;
        }

        .info-detail {
            margin-top: 3px;
            flex: 1;
            display: flex;
            flex-flow: column;
        }
    </style>
</head>
<body>
    <div class="container-listplayer">
        <div class="info-page">
            <strong>
                Danh Bạ
            </strong>
        </div>
        @if (user.Phonebooks != null)
        {
            foreach (var item in user.Phonebooks)
            {
                <div class="div-list-player">
                    <div class="avatar">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div style="flex: 1;">
                        <div class="info-detail">
                            <strong style="font-size:16px;">@string.Format(item.Name)</strong>
                            <span style="margin-top:5px;">@string.Format(item.PhoneNumber)</span>
                        </div>
                        <div style="margin-top:5px;" class="border-bottom-row"></div>
                    </div>
                </div>
            }
        }

    </div>
    <script>

    </script>
</body>
</html>