@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@inject IHttpContextAccessor HttpContextAccessor
@{
    User user = new User();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cookieValue = HttpContextAccessor.HttpContext.Request.Cookies["LotteryCookie"];
    if (cookieValue != null)
    {
        user = JsonConvert.DeserializeObject<User>(cookieValue);
    }
    else
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/Account/Login");
    }
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/listPlayer.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container-listplayer {

        }

        .info-page {
            justify-content: center;
            display: flex;
            font-size: 16px;
            color: #e3165b;
        }

        .div-list-player{

        }

    </style>
</head>
<body>
    <div class="container-listplayer">
        <div class="info-page">
            <strong>
                Danh Bạ
            </strong>
        </div>
        <div class="div-list-player">
            
        </div>
    </div>
    <script>

    </script>
</body>
</html>