@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@inject IHttpContextAccessor HttpContextAccessor
@{
    User user = new User();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cookieValue = HttpContextAccessor.HttpContext.Request.Cookies["LotteryCookie"];
    if (cookieValue != null)
    {
        user = JsonConvert.DeserializeObject<User>(cookieValue);
    }
    else
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/Account/Login");
    }
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/menu.css" rel="stylesheet" />
    <style>
      
    </style>
</head>
<body>
    <div class="container-menu">
        <div class="info-user">
            <div class="avatar">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="info-detail">
                <strong>Hạn sử dụng:@string.Format(" " +user.ExpireDate.ToString("dd/MM/yyyyy"))</strong>
                <strong>Tài khoản: @string.Format(" " +user.Account)</strong>
            </div>
        </div>
        <div class="div-menu">
            <div class="border-bottom-row"></div>
            <div class="row-menu">
                <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                <span>Tính Nhanh</span>
            </div>
        </div>
        <div onclick="window.location.href='/Phonebook/ListPlayer';" class="div-menu">
            <div class="border-bottom-row"></div>
            <div class="row-menu">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                <span>Danh Bạ</span>
            </div>
        </div>
        <div onclick="window.location.href='/Phonebook/RegionPlayer?region=@((int)RegionEnum.MienNam)';" class="div-menu">
            <div class="border-bottom-row"></div>
            <div class="row-menu">
                <i class="fa fa-calculator" aria-hidden="true"></i>
                <span>Xử Lý Miền Nam</span>
            </div>
        </div>
        <div onclick="window.location.href='/Phonebook/RegionPlayer?region=@((int)RegionEnum.MienTrung)';" class="div-menu">
            <div class="border-bottom-row"></div>
            <div class="row-menu">
                <i class="fa fa-calculator" aria-hidden="true"></i>
                <span>Xử Lý Miền Trung</span>
            </div>
        </div>
        <div onclick="window.location.href='/Phonebook/RegionPlayer?region=@((int)RegionEnum.MienBac)';" class="div-menu">
            <div class="border-bottom-row"></div>
            <div class="row-menu">
                <i class="fa fa-calculator" aria-hidden="true"></i>
                <span>Xử Lý Miền Bắc</span>
            </div>
        </div>
        <div onclick="window.location.href='/Account/Logout';" class="div-menu">
            <div class="border-bottom-row"></div>
            <div class="row-menu">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>Đăng Xuất</span>
            </div>
            <div class="border-bottom-row"></div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const currentPage = window.location.href;
            sessionStorage.setItem("menuPage", currentPage);
        });
        $(document).ready(function () {

        });

    </script>
</body>
</html>